.grid-container {
    display: grid;
    grid-template-areas:
    'title title title'
    'cityState cityState cityState'
    'image0 image1 image2'
    'image0 image3 image4'
    'owner owner owner'
    'description description priceStars'
    'description description reserveButton'
    'reviews reviews reviews'
    'postReviewButton postReviewButton postReviewButton'
    'firstReview firstReview firstReview'
    'eachReview eachReview eachReview';
    grid-template-rows:100px 100px 500px 500px 100px 50px 50px 100px 50px 50px 500px;
    grid-template-columns: 2fr 1fr 1fr;
}
.title {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    padding: 2px;
    grid-area: title;
}
.cityState {
    font-family: montserrat;
    font-size: 14pt;
    padding: 1px;
    grid-area: cityState;
}
.image0 {
    width: 1000px;
    height: 1000px;
    grid-area: image0;
}
.image1 {
    grid-area: image1;
    width: 500px;
    height: 500px;
}
.image2 {
    grid-area: image2;
    width: 500px;
    height: 500px;
}
.image3 {
    grid-area: image3;
    width: 500px;
    height: 500px;
}
.image4 {
    grid-area: image4;
    width: 500px;
    height: 500px;
}
.owner {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    padding: 2px;
    grid-area: owner;
}
.description {
    font-family: montserrat;
    font-size: 14pt;
    padding: 1px;
    grid-area: description;
}
.priceStars {
    font-family: montserrat;
    font-size: 14pt;
    font-weight: bold;
    padding: 1px;
    grid-area: priceStars;
}
.reserveButton {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: red;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    margin: 10px;
    grid-area: reserveButton;
}
.reserveButton:hover {
    background-color: darkred;
}
.reviews {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    padding: 2px;
    grid-area: reviews;
}
.postReviewButton {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    margin: 10px;
    grid-area: postReviewButton;
}
.postReviewButton:hover {
    background-color: darkgray;
}
.firstReview {
    font-family: montserrat;
    font-size: 14pt;
    padding: 1px;
    grid-area: firstReview;
}
.eachReview {
    grid-area: eachReview;
}
