.title {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    padding: 2px;
}
.createSpotButton {
    width: 200px;
    height: 40px;
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    cursor: pointer;
}
.createSpotButton:hover {
    background-color: darkgray;
}
.manageSpotIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-start;
}
.manageEachSpot {
    list-style-type: none;
    width: 25%;
}
