.title {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    padding: 2px;
}
.createSpotButton {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
}
