.heading {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}
.normal {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    padding: 2px;
}
.errors {
    font-family: montserrat;
    font-size: 14pt;
    color: red;
}
.signUpButton {
    width: 90%;
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: red;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    margin: 10px;
    &:disabled {
        background-color: lightgray;
    }
}
