heading {
    font-family: sans-serif;
    font-size: 24pt;
    font-weight: bold;
}
subheading {
    font-family: sans-serif;
    font-size: 18pt;
    font-weight: bold;
}
normal {
    font-family: sans-serif;
    font-size: 14pt;
}
