.heading {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}
.subheading {
    font-family: montserrat;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}
.deleteSpotYes {
    width: 90%;
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: red;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    margin: 10px;
    cursor: pointer;
}
.deleteSpotNo {
    width: 90%;
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    margin: 10px;
    cursor: pointer;
}
