.body {
    width: 33%;
    margin: auto;
}
.formHeading {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    text-align: left;
    padding: 2px;
}
.formSubheading {
    font-family: montserrat;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    padding: 2px;
}
.formNormal {
    font-family: montserrat;
    font-size: 14pt;
    text-align: left;
    padding: 2px;
}
.errors {
    font-family: montserrat;
    font-size: 14pt;
    text-align: left;
    color: red;
}
.submitFormButton {
    width: 200px;
    height: 40px;
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: red;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    margin: 10px 0px;
    cursor: pointer;
}
.submitFormButton:hover {
    background-color: darkred;
}
