* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
    color: #000000;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    text-align: center;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
li {
    list-style: none;
}
input, textarea {
    outline: none;
}
textarea {
    resize: none;
}
.heading {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.subheading {
    font-size: 18px;
    font-weight: 500;
}
.normal {
    font-size: 14px;
    font-weight: 400;
}
/* General CSS Above */
.footer {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    margin: 10px;
}
.footerContent {
    display: flex;
    justify-content: left;
    padding-left: 10px;
    padding-right: 10px;
}
