.landingSpotIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-start;
}
.landingEachSpot {
    list-style-type: none;
    width: calc(100% / 4);
}
@media only screen and (max-width: 1200px) {
    .landingEachSpot {
        width: calc(100% / 3);
    }
}
@media only screen and (max-width: 900px) {
    .landingEachSpot {
        width: calc(100% / 2);
    }
}
@media only screen and (max-width: 600px) {
    .landingEachSpot {
        width: 100%;
    }
}
