.box {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: space-between;
}
.title {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    padding: 2px;
}
.cityState {
    font-family: montserrat;
    font-size: 14pt;
    padding: 1px;
}
.stars {
    font-family: montserrat;
    font-size: 14pt;
    padding: 1px;
}
.price {
    font-family: montserrat;
    font-size: 14pt;
    font-weight: bold;
    padding: 1px;
}
.updateSpotButton {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
}
.deleteSpotButton {
    font-family: montserrat;
    font-size: 14pt;
    text-align: center;
    color: white;
    padding: 4px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
}
a:link {
    text-decoration: none;
}
