.grid-container {
    display: grid;
    grid-template-areas:
    'title title title'
    'image image image'
    'cityState cityState stars'
    'price price price'
    'update delete delete';
    grid-template-rows:100px 500px 100px 100px 100px;
    grid-template-columns: 100px 300px 100px;
}
.title {
    font-family: montserrat;
    font-size: 24pt;
    font-weight: bold;
    padding: 2px;
    grid-area: title;
}
.image {
    grid-area: image;
}
.cityState {
    font-family: montserrat;
    font-size: 14pt;
    padding: 1px;
    grid-area: cityState;
}
.stars {
    font-family: montserrat;
    font-size: 14pt;
    padding: 1px;
    grid-area: stars;
}
.price {
    font-family: montserrat;
    font-size: 14pt;
    font-weight: bold;
    padding: 1px;
    grid-area: price;
}
.update {
    font-family: montserrat;
    font-size: 14pt;
    color: white;
    text-align: center;
    background-color: gray;
    padding: 4px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    grid-area: update;
}
.delete {
    font-family: montserrat;
    font-size: 14pt;
    color: white;
    text-align: center;
    background-color: gray;
    padding: 4px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
    grid-area: delete;
}
