.info {
    font-family: montserrat;
    font-size: 14pt;
    padding: 2px;
}
.manage {
    font-family: montserrat;
    font-size: 14pt;
    font-weight: bold;
    padding: 2px;
}
.logout {
    font-family: montserrat;
    font-size: 14pt;
    color: white;
    text-align: center;
    padding: 4px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 4px 4px gray;
}
