* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
    color: #000000;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    text-align: center;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
li {
    list-style: none;
}
input, textarea {
    outline: none;
}
textarea {
    resize: none;
}
.heading {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.subheading {
    font-size: 18px;
    font-weight: 500;
}
.normal {
    font-size: 14px;
    font-weight: 400;
}
/* General CSS Above */
.logInModal {
    margin: 20px;
}
.modalContent {
    width: 90%;
    margin: 0 auto;
}
.heading {
    margin-top: 10px;
    margin-bottom: 10px;
}
.errors {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FF5A5F;
}
.subheading, .normal {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.normal {
    background-color: #E8F0FE;
}
.logInButton {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: 4px 4px #999999;
    background-color: #FF5A5F;
    color: #FFFFFF;
    &:disabled {
        background-color: #FFFFFF;
        color: lightgrey;
        border: 2px solid #CCCCCC;
        cursor: not-allowed;
    }
}
.demoUser {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #00525E;
    text-decoration: underline;
}
.demoUser:hover {
    font-weight: 700;
}
